<!DOCTYPE html>
<html>
  <head>
  <% title 'Official Website | Victor Asante-Kyei' %>
	<% description 'This is the Official page of Victor Asante-Kyei, Web Developer, IT Project Consultant' %>
	<% keywords 'Front End Development, Victor Asante-Kyei, Berlin, SEO, Digital Marketing, IT Projectmanagement' %>
	<% nofollow %>
	<% noindex %>
	<% refresh 60 %>
    <%= csrf_meta_tags %>
    <%= display_meta_tags %>

    


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
